@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato");

body {
  font-family: "PT Sans";
}

.bg-header {
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: #6c0000;
}


.nav-link {
  color: white;
}


.no-padding {
  padding-right: 0;
  padding-left: 0;
}


.title-red {
  color: #6c0000;
  font-weight: bold;
  font-family: Lato
}

footer {
  margin-top: 1rem;
  background-color: darkred;
  color: white;
  padding: 1rem;
  text-align: center;
}


footer small {
  font-size: 10px;
}
